<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="editable_pdf_poc"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="io.flutter.embedding.android.FlutterAppCompatActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <!-- Add this meta-data to include the PSPDFKit license key -->
        <meta-data
            android:name="pspdfkit_license_key"
            android:value="dQSix7bI5-TGe05ITXQ_ejnOcZUsQhgBAOrdCOCIEgY0nUGb5x7kkUFzKyYCyedcDqg0_NFIVQKnqIqpjVroA3rKZhIsQlXSh3gYqM90VMGJpBbSWCHfWYeaD4pf6fmT260KO48fIzfX4i211x3mTnw7QA2vUgdolNEvmvuete_DcAefjDBVFB5zQedKzeCbOhUs5yJ81097SYUj"/>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
